.container {
    height: 100%
}
.alertBg {
    position: absolute;
    width: 100%;
    height: 100%;
    /*display: block;*/
    opacity: 0.95;
    background: #013053;
    display: none;
    z-index: 3;
    top:0;
    left:0;
}
.info {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background: #013053;
    display: none;
    z-index: 5;
    top:0;
    left:0;
}
.info .close {
    width:40px;
    height:40px;
    background-color: transparent;
    position: absolute;
    top: 253px;
    left: 533px;
}
.info div.word{
    position: absolute;
    top:320px;
    left:90px;
    display: block;
    z-index:10;
    font-size:26px;
    color: #0278d0;
} 
.info div.word i {
    font-style: normal;
}
.info div.word .close {
    position: absolute;
    top: -67px;
    left: 436px;
    background-color: transparent;
    width:45px;
    height:45px;
}
.info div i {
    display: block;
    font-size:24px;
    color: #fc3122;
}
.info div form {
    padding-top:5%;
}
.alertBg .content form {
    margin-top:15px;
    position: absolute;
    top: 600px;
    left: 100px;
    color: #0278d0;
    font-size:26px;
    width:500px;
}
.alertBg .content input {
    display: inline-block;
    width:70%;
    height:40px;
    margin-bottom:20px;
    color: #0278d0;
    font-size:22px;
    border:1px solid #0278d0;
    border-radius: 8px;
}
.info div a {
    display: inline-block;
    background: #fc3122;
    color: #fff;
    width:180px;
    height:50px;
    text-align: center;
    line-height:50px;
    border-radius: 25px;
    font-size:24px;
    margin-top:10px;
    margin-left:130px;
}
.info a.info_kuang {
    position: absolute;
    top: -32px;
    left: -94px;
}
.swiper-container {
    height: 100%;
}
.roll {
    animation: tou 2.6s linear infinite;
    -webkit-animation: tou 2.6s linear infinite;display:none;opacity:0;
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 90%;
    /*background-color: #fff;*/
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
.ys2 .d1,.d2,.d3,.d4{
    width:598px;
    margin:0 auto;
}
.ys1 .box {
    display: none;
}
.ys1 .box .i1 {
    position: absolute;
    left:0;
    top: 60px;
}
.ys1 .box .i2 {
    position: absolute;
    left:0;
    top:570px
}
.ys1 .box .close {
    background-color: transparent;
    width:33px;
    height:33px;
    position: absolute;
    top: 176px;
    left: 580px;
}
.ys1 .box .bishi_word p{
    text-align: center;
    position: absolute;
    top:275px;
    left:70px;
    color: #fff;
    font-size:26px;
    font-weight:600;
    line-height:50px;
}
.ys1 .box .bishi_word p>span {
    font-size:36px;
    color: #fff100;
}
.ys2btn {
    width: 310px;
    height:90px;
    position: absolute;
    background-color: transparent;
    top: 900px;
    left: 160px;
}
.ys2btn img {
    position: absolute;
    left: 0px;
    top: -30px;
}
.ys3btn {
    width:185px;
    height:53px;
    position: absolute;
    background-color:transparent;
    top: 306px;
    left: 130px;
}
.ys2 img.ball {
    display: block; !important;
    position: absolute;
    top: 1000px;
    left: 100px;
}
.ys2 .d1{
    background: url('../imgs/wd_head_bg.png') no-repeat;
    height:109px;
    margin-top:5%;
}
.ys2 .d2 {
    background: url('../imgs/wd_head_zhong.png') repeat-y;
    padding:0 30px;
    width:538px;
    height: 750px;
}
.ys2 .d3 {
    background: url("../imgs/wd_head_di1.png") no-repeat;
    width:598px;
    height:85px
}
ul.circle_list{
    overflow:hidden;
    list-style:none;
    padding: 20px 20px;
    margin-left: 120px;
}
ul.circle_list li{
    float:left;
}
ul.circle_list li span{
    display:inline-block;
    vertical-align:middle;
}
ul.circle_list li span.circle{
    width:10px;
    height:10px;
    background-color:#ffffff;
    border-radius:50%;
    border:5px solid #ffffff;
    opacity:0.8;
}
ul.circle_list li span.line{
    height:2px;
    width:60px;
    background-color:#ffffff;
    opacity:0;

}
ul.circle_list li.active span.circle{
    background-color:transparent;
    -webkit-animation: bs linear 2s  infinite;
    -moz-animation: bs linear 2s  infinite;
    animation: bs linear 2s  infinite;

}
ul.circle_list li span.circle:hover {
    background-color:transparent;
    -webkit-animation: bs linear 2s  infinite;
    -moz-animation: bs linear 2s  infinite;
    animation: bs linear 2s  infinite;
}
@-webkit-keyframes bs {
    0% {
        box-shadow:  0 0 0px 0 #89cdff;
    }

    50% {
        box-shadow: 0 0 20px 0 #1affff;
    }

    100% {
        box-shadow:  0 0 0px 0 #89cdff;
    }
}
@-moz-keyframes bs {
    0% {
        box-shadow:  0 0 0px 0 #89cdff;
    }

    50% {
        box-shadow:  0 0 20px 0 #1affff;
    }

    100% {
        box-shadow:  0 0 0px 0 #89cdff;
    }
}
@-o-keyframes bs {
    0% {
        box-shadow:  0 0 0px 0 #89cdff;
    }

    50% {
        box-shadow:  0 0 20px 0 #1affff;
    }

    100% {
        box-shadow:   0 0 0px 0 #89cdff;
    }
}
@keyframes bs {
    0% {
        box-shadow:  0 0 0px 0 #89cdff;
    }

    50% {
        box-shadow:  0 0 20px 0 #1affff;
    }

    100% {
        box-shadow:  0 0 0px 0 #89cdff;
    }
}

ul.circle_list li.active span.line{
    opacity:0.8;
}
.ys2 .gonglue {
    display: inline-block;
    width:110px;
    height:60px;
    line-height:60px;
    text-align: center;
    border-radius: 35px;
    background-color: #eb6100;
    color: #fff;
    font-size:30px;
    margin-top:5%;
    margin-left:15%;
}
#gonglue1 {
    width:100%;
    height:100%;
    display: none;
    position: absolute;
    top:0;
    left:0;
    overflow: overlay;
}
#gonglue_1{
    width:100%;
}
.ys2 .next {
    display: inline-block;
    width:235px;
    height:60px;
    line-height:60px;
    text-align: center;
    border-radius: 35px;
    background-color: #0278d0;
    color: #fff;
    font-size:30px;
    margin-top:5%;
    margin-left:10%;
}
.ys2 .bg {
    background: url("../imgs/wd_bg.png");
}
.ys3 .txxx {
    display: inline-block;
    width:240px;
    height: 50px;
    background-color: #000;
}
.ys3 {
    background: url("../imgs/cj_bg.png") no-repeat;
    position: relative;
}
.ys3 .rgba,.rgba1,.rgba2,.rgba_book,.rgba_one {
    display: none;
    width:640px;
    height:1136px;
    background:rgba(000, 000, 000, 0.5);
    position: absolute;
    top:0;
    left:0;
}
.ys3 .share {
    display: none;
    width:640px;
    height:1136px;
    background:rgba(000, 000, 000, 0.5);
    position: absolute;
    top:0;
    left:0;
}
.ys3 .share img {
    position: absolute;
    top: -30px;
    left: 270px;
}
.ys3 .content p {
    color:#0278d0;
    font-size:24px;
    display: block;
    position: absolute;
    top: 310px;
    left: 120px;
}
.ys3 .rgba p {
    left:220px;
}
.ys3 .rgba_book p {
    left: 140px;
}
.ys3 .content p i {
    color: #f15d35;
    font-size:48px;
    font-style: normal;
}
.ys3 .content {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    /*background: url("../") no-repeat top center;*/
    transform-origin:center top;
    -ms-transform-origin:center top;		/* IE 9 */
    -webkit-transform-origin:center top;	/* Safari 和 Chrome */
    -moz-ttransform-origin:center top;	/* Firefox */
    -o-transform-origin:center top;
}

.ys3 .content img.jp {
    position: absolute;
    top: 380px;
    left: 240px;
}
.ys3 .rgba a {
    position: absolute;
    top: 700px;
    left: 200px;
    line-height: 65px;
    text-align: center;
    display: block;
    width:240px;
    height:65px;
    color: #ffea97;
    font-size:24px;
    background-color: #f15d35;
    border-radius: 20px;
}
.ys3 .rgba_one a {
    position: absolute;
    top: 700px;
    left: 200px;
    line-height: 65px;
    text-align: center;
    display: block;
    width:240px;
    height:65px;
    color: #ffea97;
    font-size:24px;
    background-color: #f15d35;
    border-radius: 20px;
}
.ys3 .rgba_book a {
    position: absolute;
    top: 700px;
    left: 200px;
    line-height: 65px;
    text-align: center;
    display: block;
    width:240px;
    height:65px;
    color: #ffea97;
    font-size:24px;
    background-color: #f15d35;
    border-radius: 20px;
}
.ys3 .rgba1 a {
    position: absolute;
    top: 495px;
    left: 200px;
    line-height: 65px;
    text-align: center;
    display: block;
    width:240px;
    height:65px;
    color: #ffea97;
    font-size:24px;
    background-color: #f15d35;
    border-radius: 20px;
}
.ys3 .rgba2 a {
    position: absolute;
    top: 495px;
    left: 200px;
    line-height: 65px;
    text-align: center;
    display: block;
    width:240px;
    height:65px;
    color: #ffea97;
    font-size:24px;
    background-color: #f15d35;
    border-radius: 20px;
}
#btnLottery img{
    position: absolute;
    top: 286px;
    left: 259px;
}
#lotteryContent .rule {
    background: url("../imgs/cj_word.png");
    width:610px;
    min-height:250px;
    margin:15% auto;
}
#lotteryContent .rule h4 {
    display: block;
    color: #c01f15;
    font-size:30px;
    text-align: center;
    margin-top:30px;
    line-height:90px;
}
#lotteryContent .rule p {
    font-size:22px;
    color: #222;
    line-height:40px;
    margin-left:30px;
}
#lotteryContent .rule p i {
    color: #c01f15;
    font-style: normal;
}

.ys3 .content{
    position: absolute;
    width:640px;
    height:700px;
    background: url("../imgs/wzj_bj_1.png") no-repeat top center;
}
.ys3 .content a {
    position: absolute;
    top: 500px;
    left: 200px;
    line-height: 65px;
    text-align: center;
    display: block;
    width:240px;
    height:65px;
    color: #ffea97;
    font-size:24px;
    background-color: #f15d35;
    border-radius: 20px;
}
.result {
    width: 80% ;
    margin: 0 auto;
    min-height: 80%;
    background: #007aff;
    position: relative;
    top:5%;
}
body{
    font-size: 16px;
    position: relative;
    height:100%;
    overflow: hidden;
    max-width: 640px;
    min-height:1000px;
    margin: 0 auto;
    font-family:Microsoft YaHei;
    color:#fff;
    word-break:break-all;
    -webkit-touch-callout:none
}
.problem-List{
    width:510px;
    padding:25px;
    margin:0 auto;
    padding-bottom:0;
}
.question-title .order{
    background-color:#0278d0;
    display:inline-block;
    width:60px;
    float:left;
    height:60px;
    line-height:60px;
    font-size:42px;
    color:#ffffff;
    font-weight:bold;
    text-align:center;
}
.question-title .title-content{
    font-size:24px;
    color:#0278d0;
    font-weight:bold;
    margin-left:90px;
    line-height:30px;
}
.question-result{
    padding-top:45px;
    padding-right:20px;
}
.question-result input[type="radio"],.question-result input[type="checkbox"]{
    width:55px;
    height:55px;
    display:none;
}

.question-result  label {
    display: block;
    position:relative;
    padding-left: 65px;
    margin-right: 0px;
    margin-bottom: 45px;
}
.question-result  label>span{
    width:53px;
    height:53px;
    border-radius:50%;
    border:1px solid #0278d0;
    display:inline-block;
    font-size:42px;
    color:#0278d0;
    text-align:center;
    line-height:52px;
    position:absolute;
    left:-10px;
    top:50%;
    margin-top:-26px;
}
.question-result input[type='radio']:checked + label>span,.question-result input[type='checkbox']:checked + label>span{
    background-color: #0278d0;
    color:#ffffff;
}
.question-result  label .choose{
    border:1px solid #0278d0;
    position:relative;
    padding:5px;
}
.question-result  label  .decorate{
    position:absolute;
    right:0px;
    width:100px;
    height:10px;
    background-color:#ffffff;
    bottom:-5px;
    line-height:5px;
    text-align:left
}
.question-result  label.second  .decorate{
    width:210px;
}
.question-result  label.three  .decorate{
    width:90px;
}
.question-result  label.four  .decorate{
    width:170px;
}
.question-result label p{
    border:1px solid #0278d0;
    margin:0px;
    padding-left:10px;
    padding-top: 15px;
    padding-bottom:15px;
    font-size:24px;
    color:#0278d0;
}
.question-result input[type='radio']:checked + label p,.question-result input[type='checkbox']:checked + label p{
    background-color: #0278d0;
    color:#ffffff;
}
.question-result  label  .decorate span{
    display:inline-block;
    width:7px;
    height:7px;
    border-radius:50%;
    background-color:#0278d0;
}
/*芸芸*/
.alertBg{
    opacity:1;
    background-color:transparent;
}
.alertBg .alert_bg{
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
}
.alertBg .content{
    width:640px;
    height:1136px;
    position:absolute;
    top: -50px;
    left:0px;
    padding-top:70px;
    min-height:550px;
}
.alertBg .content .close{
    position:absolute;
    top: 50px;
    right: 20px;
}
.alertBg .content .star_num{
    text-align:center;
}
.alertBg .content .star_num  img{
    margin:0 auto;
    position: absolute;
    top:100px;
    left:0;
}
.alertBg .content  .star_describe{
    margin-top:5px;
}
.alertBg .content  .star_describe img{
    margin:0 auto;
    position: absolute;
    top: 520px;
    left: 60px;
}
.alertBg .content .star_btn{
    text-align: center;
    position: absolute;
    width: 100%;
    top:800px;
}
.alertBg .content .star_btn span{
    display:inline-block;
    background-color:#fc3122;
    border-radius:25px;
    box-shadow:0px 3px 0px #930a00;
    -webkit-box-shadow:0px 3px 0px #930a00;
    -moz--box-shadow:0px 3px 0px #930a00;
}
.alertBg .content .star_btn a{
    display: block;
    border-radius: 35px;
    position: absolute;
    top: 25px;
    left: 200px;
    color:#ffffff;
    text-align:center;
    font-size:36px;
    padding:10px 23px;
    background-color: #fc3122;
    width:180px;
    height:50px;
}
.alertBg .content .close {
    width:40px;
    height:40px;
    background-color: transparent;
    position: absolute;
    top:190px;
    left:536px;

}
